{% extends 'portfolio/base.html' %}

{% block content %}
<div class="container">
    <h2>{{proyecto.titulo}}</h2>
    {% for categoria in proyecto.categorias.all %}
        <a href="{% url 'home' categoria.id %}">
            <button class="btn btn-sm btn-secondary">{{categoria.nombre}}</button>
        </a>
    {% endfor %}
    <div class="row">
        {% if proyecto.imagen %}
        <div class="col-sm">
            <img src="{{ proyecto.imagen.url }}" alt="{{proyecto.titulo}}" class="img-fluid rounded">
            <br>
        </div>
        {% endif %}
        <div class="col-sm">
            {{proyecto.descripcion|safe}}
        </div>
    </div>
</div>
{% endblock %}