<!--UD8.2.b BEGIN-->
{% extends 'common/base.html' %}
{% block content %}
<div class="container">
    <h2>{{title}}</h2>
    <form action="." method="post">
        <input type="hidden" name="next" value="{{ next }}">
        {% csrf_token %}
        <p>{{mensaje_confirmacion}}</p>
        <p>{{object}}</p>
        <div class="input-group mb-3">
            {{ form.username }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form.password }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>                                                              
    </form>
</div>
{% endblock %}
<!--UD8.2.b END-->
