{% extends "common/base_intranet.html" %}

{% block main_content %}
<div class="container">
    <h1 class="mb-5">Panel inicial</h1>
    <h3>Datos maestros</h3>
    <hr>
    <div class = "row justify-content-evenly mb-5">
        <div class="card col-sm-2" >
          <div class="card-body">
            <h5 class="card-title">Módulos</h5>
            <p class="card-text">Módulos a evaluar</p>
            <a href="#" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2" >
          <div class="card-body">
            <h5 class="card-title">Resultados aprendizaje</h5>
            <p class="card-text">Resultados aprendizaje del módulo</p>
            <a href="#" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2" >
          <div class="card-body">
            <h5 class="card-title">Criterios evaluación</h5>
            <p class="card-text">Criterios de evaluación</p>
            <a href="#" class="btn btn-primary">Consultar</a>
          </div>
        </div>
    </div>


    <h3>Programación didáctica</h3>
    <hr>
    <div class = "row justify-content-evenly">
        <div class="card col-sm-2" >
          <div class="card-body">
            <h5 class="card-title">Unidades</h5>
            <p class="card-text">Unidades de los módulos</p>
            <a href="#" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2" >
          <div class="card-body">
            <h5 class="card-title">Instrumentos de evaluación</h5>
            <p class="card-text">Instrumentos de evaluación del módulo</p>
            <a href="#" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2" >
          <div class="card-body">
            <h5 class="card-title">Ponderación RAs</h5>
            <p class="card-text">Ponderación RAs</p>
            <a href="#" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2" >
          <div class="card-body">
            <h5 class="card-title">Ponderación CEs</h5>
            <p class="card-text">Ponderación CEs</p>
            <a href="#" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2" >
          <div class="card-body">
            <h5 class="card-title">Ponderación CEs por unidad</h5>
            <p class="card-text">Ponderación CEs por unidad</p>
            <a href="#" class="btn btn-primary">Consultar</a>
          </div>
        </div>
    </div>

</div>
{% endblock main_content %}