{% extends "common/base_intranet.html" %}


{% block main_content %}
<div class="container">
    <h1>Lista de ponderaciones de CE</h1>
    <ul class="list-group mt-3">
    {% for pond_ce in object_list %}
        <a href="{% url 'pond_ce_detail' pond_ce.id %}" class="list-group-item list-group-item-action">{{ pond_ce }}</a>
    {% empty %}
        <p>No existen ponderaciones de CE.</p>
    {% endfor %}
    </ul>
    <a class="btn btn-primary" href="/pond_ce_create"> Crear </a>
</div>
{% endblock main_content %}