{% extends "common/base_intranet.html" %}


{% block main_content %}
<div class="container">
    <h1> Lista de ponderaciones de RA</h1>
    <ul class="list-group mt-3">
    {% for pond_ra in object_list %}
        <a href="{% url 'pond_ra_detail' pond_ra.id %}" class="list-group-item list-group-item-action">{{ pond_ra }}</a>
    {% empty %}
        <p>No existen ponderaciones de RA.</p>
    {% endfor %}
    </ul>
    <a class="btn btn-primary" href="/pond_ra_create"> Crear </a>
</div>
{% endblock main_content %}