{% extends "common/base_intranet.html" %}

{% block main_content %}
<div class="container">
    <h1>Lista de {{ object.verbose_name_plural }}</h1>
    <ul class="list-group mt-3">
    {% for modulo in object_list %}
        <a href="{% url 'modulo_detail' pk=modulo.id %}" class="list-group-item list-group-item-action">{{ modulo }}</a>
    {% empty %}
        <p>No existen módulos.</p>
    {% endfor %}
    </ul>
    <a class="btn btn-primary" href="/modulo_create"> Crear </a>
</div>
{% endblock main_content %}