<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llados App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Scrapear Criptomonesdas de Llados</h2>
        <a href="/listar_criptomonedas"><button href="" type="button" class="btn btn-outline-secondary">Chatarrero</button></a>
    </div>
</body>
</html>