<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatarrear</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Listado de Criptomonedas</h2>
        <a href="/listar_criptomonedas"><button href="" type="button" class="btn btn-outline-secondary">Recargar</button></a>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha de creación</th>
                </tr>
            </thead>
            <tbody>
                {% for criptomoneda in criptomonedas %}
                <tr>
                    <td>{{ criptomoneda.nombre }}</td>
                    <td>{{ criptomoneda.precio }}</td>
                    <td>{{ criptomoneda.fecha_creacion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
