<!-- En el archivo listar_criptomonedas.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Criptomonedas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Listado de Criptomonedas</h2>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha de Adición</th>
                </tr>
            </thead>
            <tbody>
                {% for criptomoneda in criptomonedas %}
                <tr>
                    <td>{{ criptomoneda.name }}</td>
                    <td>{{ criptomoneda.price }}</td>
                    <td>{{ criptomoneda.date_added }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
