*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
}
  
h1 {
font-size: 1.5em;
}

h2 {
font-size: 1.2em;
}

ul {
list-style-type: none;
}

@media screen and (min-width: 600px) {
    body {
        font-family: 'Times New Roman', serif;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-family: Arial, sans-serif;
    }

    h1, h2 {
        font-size: initial;
    }
}